[Unit]
Description=prometheus-swift-exporter
After=network.target

[Service]
EnvironmentFile=/etc/default/prometheus-swift-exporter
ExecStart=/usr/bin/prometheus-swift-exporter ${CONFIG_FILE}
KillMode=process

[Install]
WantedBy=multi-user.target

